<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Search By User ID" [(ngModel)]="searchText" aria-describedby="button-addon2">
	<input type="text" class="form-control" placeholder="Search By Post ID" [(ngModel)]="searchText1" aria-describedby="button-addon2">
	<input type="text" class="form-control" placeholder="Search By Comment ID" [(ngModel)]="searchText2" aria-describedby="button-addon2">
	<app-button text="Search" classText="btn btn-success" (buttonClick)="handleSearchTextChange(searchText)"></app-button>
</div>
<div class="container d-flex align-items-center justify-content-center">
	<div class="btn-group" role="group" aria-label="Basic example">
		<app-button text="Add Comment" classText="btn btn btn-success" (buttonClick)="handleAddClick()"></app-button>
	</div>
</div>
<table class="table table-hover">
		<thead>
			<tr class="text-center">
				<th scope="col">Comment ID</th>
				<th scope="col">post ID</th>
				<th scope="col">User ID</th>
				<th scope="col">Comment</th>
				<th scope="col">Creation Date</th>
				<th scope="col">Confirm Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr 
			*ngFor="let comment of filteredContent | slice: (index * size) : ((index + 1) * size)">
			<td class="row" class="text-center">{{ comment.commentId }}</td>
			<td class="text-center">{{comment.postId }}</td>
			<td class="text-center">{{ comment.userId}}</td>
			<td class="text-center">{{ comment.comment }}</td>
			<td class="text-center">{{ comment.creationDate | date: "dd/MM/yyyy"  }}</td>
			<td class="text-center">{{ comment.isConfirmed }}</td>
			<td class="btn-group">
				<app-button text="Edit" classText="btn btn-primary btn-sm" (buttonClick)="handleEditClick(comment.commentId)"></app-button>
				<app-button text="Delete" classText="btn btn-danger btn-sm" (buttonClick)="handleDeleteClick(comment.postId)"></app-button>
			</tr>
		</tbody>
	</table>
	<div class="container d-flex align-items-center justify-content-center">
		<div class="btn-group" role="group" aria-label="Basic example">
			<app-button text="Back" (buttonClick)="handleBackClick()"></app-button>
			<app-button text="Next" (buttonClick)="handleNextClick()"></app-button>
		</div>
	</div>
